Project3/WebServiceDesignStyles1ProjectClient/src/META-INF/wsdl/localhost_8080/WebServiceDesignStyles1ProjectServer/SpyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://yilongc.andrew.cmu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://yilongc.andrew.cmu.edu/">

<xs:element name="addSpy" type="tns:addSpy"/>

<xs:element name="addSpyResponse" type="tns:addSpyResponse"/>

<xs:element name="deleteSpy" type="tns:deleteSpy"/>

<xs:element name="deleteSpyResponse" type="tns:deleteSpyResponse"/>

<xs:element name="getList" type="tns:getList"/>

<xs:element name="getListAsXML" type="tns:getListAsXML"/>

<xs:element name="getListAsXMLResponse" type="tns:getListAsXMLResponse"/>

<xs:element name="getListResponse" type="tns:getListResponse"/>

<xs:element name="getSpy" type="tns:getSpy"/>

<xs:element name="getSpyResponse" type="tns:getSpyResponse"/>

<xs:element name="updateSpy" type="tns:updateSpy"/>

<xs:element name="updateSpyResponse" type="tns:updateSpyResponse"/>

<xs:complexType name="addSpy">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSpyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpy">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSpy">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSpyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSpy">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSpyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListAsXML">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListAsXMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>